<a href="https://colab.research.google.com/github/pedrov718/Content-Based-Book-Rec-System/blob/main/book_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# importing the "tarfile" module
import tarfile

# open file
file = tarfile.open('/content/drive/MyDrive/Book_Rec/booksummaries.tar.gz')

# extracting file
file.extractall('/content/drive/MyDrive/Book Rec/booksummaries.tar.gz')

file.close()

In [3]:
corpus = []
with open('/content/drive/MyDrive/Book Rec/booksummaries.tar.gz/booksummaries/booksummaries.txt') as f:
  corpus.append(f.readlines())

## Lets try to merge some more data

In [4]:
import pandas as pd
import numpy as np

In [5]:
books_blurb = pd.read_csv('/content/drive/MyDrive/Book_Rec/books_with_blurbs.csv')

In [33]:
books_blurb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57510 entries, 0 to 57509
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ISBN       57510 non-null  object
 1   Title      57510 non-null  object
 2   Author     57510 non-null  object
 3   Year       57510 non-null  int64
 4   Publisher  57510 non-null  object
 5   Blurb      57510 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.6+ MB

In [6]:
best_books = pd.read_csv('/content/drive/MyDrive/Book_Rec/books_1.Best_Books_Ever.csv')

In [7]:
best_books.describe()

             rating    numRatings  likedPercent      bbeScore      bbeVotes
count  52478.000000  5.247800e+04  51856.000000  5.247800e+04  52478.000000
mean       4.021878  1.787865e+04     92.231545  1.984023e+03     22.529003
std        0.367146  1.039448e+05      5.990689  3.515314e+04    369.158541
min        0.000000  0.000000e+00      0.000000  0.000000e+00     -4.000000
25%        3.820000  3.410000e+02     90.000000  8.400000e+01      1.000000
50%        4.030000  2.307000e+03     94.000000  9.700000e+01      1.000000
75%        4.230000  9.380500e+03     96.000000  1.870000e+02      2.000000
max        5.000000  7.048471e+06    100.000000  2.993816e+06  30516.000000

In [8]:
best_books.head()

,bookId,title,series,author,rating,description,language,isbn,genres,characters,...,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",...,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPré (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",...,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",...,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",...,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",...,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1

In [9]:
best_books.columns

Index(['bookId', 'title', 'series', 'author', 'rating', 'description',
       'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition',
       'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards',
       'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg',
       'bbeScore', 'bbeVotes', 'price'],
      dtype='object')

In [10]:
best_books_content = best_books[['title', 'author', 'description', 'isbn']]

In [11]:
books_blurb.columns

Index(['ISBN', 'Title', 'Author', 'Year', 'Publisher', 'Blurb'], dtype='object')

In [12]:
books_blurb_content = books_blurb[['Title', 'Author', 'Blurb', 'ISBN']]

In [13]:
best_books_content.rename({'title': 'Title', 'author': 'Author',  'description':'Blurb' , 'isbn' : 'ISBN' }, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [14]:
best_books_content.isbn.value_counts()

9999999999999    4354
9780997453003       2
9780976895701       2
B00TOT9LB2          2
9780671319625       2
                 ...
9781563899294       1
9780976140733       1
9780446605151       1
9780316036184       1
9781599554976       1
Name: isbn, Length: 48072, dtype: int64

### Turns out that dataset doesnt have ISBN data, lets try a different dataset

In [67]:
good_books = pd.read_csv('/content/drive/MyDrive/Book_Rec/google_books_1299.csv', index_col = 'Unnamed: 0')

In [68]:
good_books.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date
0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,"Jul 31, 2014"
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007"
2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019"
3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,SAR,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320,none,9781617734076,English,"Mar 1, 2009"
4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,SAR,The stunning debut fantasy novel from author P...,HarperCollins UK,544,"Fiction , Fantasy , Dark Fantasy",9780007287758,English,"Jan 8, 2009"

In [69]:
good_books['language'] == 'English'

0       True
1       True
2       True
3       True
4       True
        ...
1294    True
1295    True
1296    True
1297    True
1298    True
Name: language, Length: 1299, dtype: bool

In [72]:
good_books = good_books[(good_books['language'] == 'English')]

In [73]:
good_books = good_books[['title', 'author', 'ISBN', 'description']]

In [74]:
good_books.rename(columns= {'title': 'Title', 'author': 'Author',  'description':'Blurb' , 'isbn' : 'ISBN' } , inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [75]:
good_books

,Title,Author,ISBN,Blurb
0,Attack on Titan: Volume 13,Hajime Isayama,9781612626864,NO SAFE PLACE LEFT At great cost to the Garris...
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,9780758272799,Determined to make a new start in her quaint h...
2,The Art of Super Mario Odyssey,Nintendo,9781506713816,Take a globetrotting journey all over the worl...
3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,9781617734076,"With swollen feet and swelling belly, pregnant..."
4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,9780007287758,The stunning debut fantasy novel from author P...
...,...,...,...,...
1294,Twas The Nightshift Before Christmas: Festive ...,Adam Kay,9781529018592,A short gift book of festive hospital diaries ...
1295,Why We Sleep: The New Science of Sleep and Dreams,Matthew Walker,9780141983776,'Astonishing ... an amazing book ... absolutel...
1296,How to Understand Business Finance: Edition 2,Bob Cinnamon,9780749460211,The modern marketplace is increasingly unpredi...
1297,Spider-Man: Kraven's Last Hunt,J. M. DeMatteis,9781302377366,"Collects Web of Spider-Man #31-32, Amazing Spi..."
1298,W is for Wasted: A Kinsey Millhone Novel,Sue Grafton,9781101636459,Private investigator Kinsey Millhone finds sho...

In [76]:
good_books.columns

Index(['Title', 'Author', 'ISBN', 'Blurb'], dtype='object')

### Now lets merge our new data to our old data

In [77]:
books = pd.merge(books_blurb, good_books,  how='outer')

In [78]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58809 entries, 0 to 58808
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ISBN       58809 non-null  object
 1   Title      58809 non-null  object
 2   Author     58809 non-null  object
 3   Year       57510 non-null  float64
 4   Publisher  57510 non-null  object
 5   Blurb      58806 non-null  object
dtypes: float64(1), object(5)
memory usage: 3.1+ MB

In [79]:
books.sample(10)

,ISBN,Title,Author,Year,Publisher,Blurb
41474,0373482477,"Secret Splendor (Silhouette Classics, No 11)",Sandra Brown,1992.0,Silhouette,When Arden Gentry travels to Maui to search fo...
101,0060801263,Tree Grows In Brooklyn,Betty Smith,1988.0,Harpercollins Publisher,"A novel about a young girl, her family and fri..."
19800,0812555287,The Overland Trail (Women of the West),Wendi Lee,1997.0,Tor Books (Mm),"She is called America, named for the young cou..."
8031,0515120626,Just Once,Jill Marie Landis,2001.0,Jove Books,"Jemma O'Hurley, a spoiled New Orleans debutant..."
23237,0345304225,Spell for Chameleon Xanth,Piers Anthony,1981.0,Ballantine Books,Xanth was the enchanted land where magic ruled...
11582,0786882506,Sling Blade: A Screenplay,Billy Bob Thornton,1996.0,Hyperion Books,", winner of the 1996 Academy Award for best sc..."
12468,0064441075,Sam the Minuteman (I Can Read Book 3),Nathaniel Benchley,1987.0,HarperTrophy,"""Get your gun!"" Sam's father said. ""The Britis..."
44585,155166299X,Presumed Guilty,Tess Gerritsen,1997.0,Mira,"Guilty—Until Proven Innocent…,Miranda Wood thi..."
44606,0689814313,Firestorm (danger.com),Jordan Cray,1997.0,Simon Pulse,"The Internet...a world without rules, without ..."
15417,3442455707,MilitÃ?Â¤rmusik.,Wladimir Kaminer,2003.0,Goldmann,"Wladimirs Welt, ""Nie etwas ausdenken, sondern..."

In [80]:
books.to_csv('/content/drive/MyDrive/Book_Rec/books_with_summaries.csv')